.contact-us-container {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .contact-us-container h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #630505;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-family: 'Apple Chancery', cursive;
  }
  
  .contact-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .contact-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .contact-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
  
  .contact-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
  }
  
  .contact-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #630505;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-family: 'Apple Chancery', cursive;
  }
  
  .contact-card p {
    font-size: 1rem;
    color: #555;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-family: 'Apple Chancery', cursive;
    line-height: 1.5;
  }
  